/*palette*/
/*darkpalette*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");
.grade {
  border: 0 !important;
  box-shadow: 2px 10px 16px 0 rgba(0, 53, 68, 0.274);
}

nav a:hover, .gradetext {
  text-shadow: 1px 1px 4px rgba(0, 75, 88, 0.397);
}

a, ul {
  text-decoration: none;
  list-style: none;
  color: #72539b;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Gothic A1", sans-serif;
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  width: 55%;
  font-family: "Rozha One", serif;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 0.9em;
}

.oculto {
  font-size: 0%;
}

.formulario {
  background-image: linear-gradient(#ccb4ee, #8592e7);
  text-align: center;
  padding: 15%;
  color: #ededed;
}

footer {
  background-image: url("../archives/Milk.png");
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 5%;
  color: #000000;
}

.gallery-img {
  width: 50%;
  border-radius: 5px;
}

figure {
  padding: 3%;
}

.skills-bar {
  width: 70%;
}

.progress-bar {
  background-color: #18274b !important;
}

@media only screen and (min-width: 995px) {
  .gallery-img {
    width: 30%;
  }
}
@media only screen and (min-width: 995px) {
  .container-timeline {
    width: 50%;
  }
  .noaside {
    width: 85%;
    position: relative;
    z-index: 1 !important;
  }
  .profile {
    width: 60%;
  }
  .header-section {
    width: 100%;
  }
  .card {
    width: 200px;
    height: 210px;
  }
}
.cards-all {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.card {
  width: 140px;
  height: 140px;
  background-color: #ededed;
  border-radius: 5%;
}

.container-experience h2, h3 {
  text-align: center;
}

a:hover {
  color: #18274b;
}

* {
  padding: 0;
  margin: 0 auto !important;
  box-sizing: border-box !important;
}

body {
  background-image: linear-gradient(#ededed, #B9C5D2);
}

section {
  margin: 1px;
  padding-top: 7%;
  padding-bottom: 7%;
}

.noaside {
  width: 95%;
}

img {
  width: 100%;
}

.container-timeline {
  padding: 2rem;
}

.timeline-item {
  padding: 1rem;
}

.profile {
  width: 30vw;
}

.formulario {
  padding: 15%;
}

footer {
  padding: 5%;
}

header {
  background-image: url("../archives/Milk.png");
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

.header-section {
  font-weight: 300;
  color: #ededed;
}

.texto {
  padding-top: 30%;
  padding-left: 10%;
}

.navlogo {
  background-image: url("../archives/icon1.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  font-size: 0%;
}

.navbar {
  background-color: #ccb4ee;
  width: 100%;
  z-index: 5;
  position: fixed;
}

@media only screen and (min-width: 995px) {
  .navbar {
    background-color: none;
  }
  .navbar {
    padding: 2%;
  }
  .navmenu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    width: 100vh;
    transform-origin: left top;
  }
  .menu {
    display: flex;
  }
  .navlist {
    flex-direction: row-reverse;
    margin: -1rem auto 0 auto;
  }
  .navlist a {
    color: #000000 !important;
  }
  .navlogo {
    background-image: url("../archives/icon2.png");
    background-repeat: no-repeat;
  }
}

/*# sourceMappingURL=main.css.map */
