@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap");
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@keyframes bg-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
/* font-family: 'Tiro Devanagari Marathi', serif;
  font-family: 'realliquid', serif;
   font-family: 'realblack', serif;
font-family: 'Montserrat', sans-serif;  */
body {
  text-transform: uppercase;
}

h1 {
  font-size: 2.3rem;
  text-transform: lowercase;
  font-family: "IBM Plex Mono", monospace;
}

h2 {
  font-size: 2rem;
  font-family: "Tiro Devanagari Marathi", serif;
}

h3 {
  font-size: 1.5rem;
  font-family: "Tiro Devanagari Marathi", serif;
}

h4 {
  font-size: 1.3rem;
  font-weight: 100;
}

strong {
  font-weight: bold;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

.oculto {
  font-size: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
}

img,
video {
  width: 100%;
}

body {
  background-color: #1b1a1a;
  color: #959595;
}

section {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

ul,
li {
  list-style: none !important;
  text-decoration: none !important;
}

li:hover {
  text-decoration: line-through !important;
}

img {
  filter: brightness(93%) opacity(93%);
}

img:hover {
  filter: brightness(84%) opacity(100%);
}

h4 {
  padding: 1rem;
}

.img {
  opacity: 1;
  transition: 0.6s ease-in-out;
}

img:hover {
  opacity: 0.5;
}

.about p {
  font-size: 1.8rem;
}

.about {
  top: 20px;
}

.container-about {
  padding: 1rem !important;
  width: 75%;
}

.container-about p {
  font-size: 1.5 !important;
}

article h4 {
  font-size: medium;
}

h3 {
  font-size: smaller;
}

.work-container h4 {
  font-size: 2.5rem;
  width: 30%;
}

.redes-sociales, h3 {
  padding-left: 5rem;
}

@media screen and (min-width: 768px) {
  .container-about {
    margin: auto !important;
    width: 70%;
  }
  .about p {
    line-height: 7.2mm;
    font-size: 1.6rem;
  }
}
.skills {
  width: 100%;
  padding: 5% !important;
}

.item-s p {
  padding-top: 1.5rem !important;
  padding-bottom: 1.2rem !important;
}

.item-s {
  padding: 0.1rem !important;
}

.habilidades {
  margin: auto;
  width: 84%;
}

.habilidades p {
  font-size: 1.3rem;
}

.container-mark {
  width: 80%;
  margin: auto;
}

.item-mark {
  width: 20%;
}

@media screen and (min-width: 768px) {
  .habilidades p {
    text-align: right;
    font-size: 2.3rem;
  }
  .container-mark {
    width: 60%;
    margin: auto;
  }
  .skills {
    width: 100%;
    padding-left: 50% !important;
  }
}
.bg-img {
  background-image: url("/archives/27.png");
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: #1b1a1a;
}

.btn {
  background-color: #884d15;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #1b1a1a;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #1b1a1a;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #884d15;
  color: #959595;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.background-container {
  position: fixed;
  height: 100%;
}

.texto h1,
h2,
p {
  color: #fefeff;
}

.wrapper {
  background: radial-gradient(circle at left bottom, #07F2F2, #E9A7F2);
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.clouds {
  width: 400%;
  height: 600px;
  z-index: 3;
  display: inline-block;
  background: url("/archives/clouds_repeat.png") repeat;
  opacity: 85%;
  top: 0;
  left: 0;
  animation: bg-slide 20s linear infinite;
}

.texto {
  z-index: 6;
  left: 4%;
  width: 75%;
  height: 40%;
  top: 40%;
  position: absolute;
}

.texto h1 {
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  .wrapper {
    height: 200vh;
  }
  .clouds {
    height: 200vh;
  }
  .texto h1 {
    font-size: 1.5rem;
  }
  .texto {
    font-size: 2.2rem;
    z-index: 6;
    width: 75%;
    height: 40%;
    position: absolute;
    left: 4%;
    top: 20%;
  }
}
.navbar-brand {
  padding: 1rem !important;
  width: 20%;
  color: #959595 !important;
}

.navbar {
  width: 100% !important;
  background-color: #1b1a1a !important;
}

.navbar-collapse {
  padding: 0.1rem;
}

.container-fluid {
  opacity: 40% !important;
}

.navbar-nav {
  padding: 0.1rem !important;
}

.navbar-toggler {
  border-radius: 0% !important;
  width: 70px !important;
}

.navbar-toggler-icon {
  background-image: url("../archives/toggler.png") !important;
  background-size: contain;
}

.nav-item a {
  padding: 0.4rem !important;
  color: #fefeff !important;
}

.nav-item a:hover {
  color: #E9A7F2 !important;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    padding: 0.2rem !important;
  }
  .nav-item {
    margin: auto !important;
  }
  .navbar-brand {
    padding: 2rem;
  }
}
.redes-padding {
  padding: 3%;
}

footer {
  margin: 5rem;
}

.slider {
  width: 100%;
}

.container-slider {
  background-color: #959595;
  color: #1b1a1a;
}

.experience {
  width: 55%;
  margin: auto !important;
  margin-top: 2rem !important;
}

.img-redes {
  padding: 2rem;
  width: 60%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .slider {
    margin: auto !important;
    padding-top: 2rem !important;
    width: 55%;
  }
  .img-redes {
    padding: 2rem;
    width: 35%;
    margin: auto;
  }
  .slider img {
    user-select: none !important;
  }
}

/*# sourceMappingURL=main.css.map */
