@charset "UTF-8";
/*palette*/
/*darkpalette*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rozha+One&display=swap");
.gradetext {
  text-shadow: 1px 1px 4px #F6F8E4;
}

nav a, footer a, nav ul, footer ul {
  text-decoration: none;
  list-style: none;
  color: #F6F8E4;
}

.grade {
  border: 0 !important;
  box-shadow: 2px 10px 16px 0 #5E6B1F;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-300deg);
  }
}
@font-face {
  font-family: fontblack;
  src: url("../archives/fontblack.ttf");
}
body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h1 {
  font-family: "fontblack";
  font-size: 2.5em;
  padding: 3rem;
}

h2 {
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "fontblack", serif;
  padding: 3rem;
}

h3 {
  font-size: 1.1em;
  padding: 3rem;
  font-family: "fontblack", serif;
}

h4 {
  font-size: 1em;
}

p {
  font-size: 0.9em;
}

.oculto {
  font-size: 0%;
}

@media only screen and (min-width: 768px) {
  .container-timeline {
    padding: 5rem;
    width: 50%;
  }
}
* {
  padding: 0;
  margin: 0 auto !important;
  text-align: center !important;
  box-sizing: border-box !important;
  color: #F6F8E4 !important;
}

body {
  background-image: linear-gradient(#76405E, #5E6B1F) !important;
}

nav {
  width: 100vw;
}

header {
  height: 100vh;
}

img,
.presenta {
  width: 100%;
}

strong:hover {
  animation: glow 1.5s linear infinite;
}

/*tablet */
@media (min-width: 600px) {
  nav {
    width: 50%;
  }
  body {
    background-image: linear-gradient(#76405E, #DDD391) !important;
  }
  .aside {
    width: 20% !important;
  }
}
/*versión escritorio*/
form {
  padding: 7rem 4rem 7rem 4rem;
  width: 100%;
  color: #F6F8E4;
}

.formulario {
  width: 70%;
  height: 50%;
}

.formulario input,
.formulario textarea,
.formulario button {
  width: 100%;
}

footer {
  margin: 0 auto !important;
  padding: 2%;
  width: 100%;
  height: 200px;
  filter: blur(0.7px);
}

@media (min-width: 600px) {
  footer {
    padding: 2rem 4rem 4rem 4rem;
    width: 100%;
    height: 10%;
  }
}
/*versión escritorio*/
.trabajos img {
  width: 20%;
  padding: 5rem;
}

figure {
  width: 20% !important;
}

.header-sec {
  width: 80%;
}

.header-sec li {
  padding: 0.2rem !important;
  border: 1.2rem !important;
  list-style: none;
}

.header-sec input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  z-index: 3;
}

.header-sec div {
  height: 5rem;
  width: 5rem;
  background: #7D6E81;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65%;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: -1px -1px 4px #7D6E81 255, 255, 255, 0.05, 4px 4px 6px #6F3A5A 0, 0, 0, 0.2;
}

input[type=checkbox]:checked ~ div {
  box-shadow: inset 0 0 2px #7D6E81 255, 255, 255, 0.05, inset 4px 4px 6px #6F3A5A 0, 0, 0, 0.2;
  color: #DDD391;
  text-shadow: 0 0 15px #DDD391, 0 0 25px #DDD391;
  animation: glow 1.5s linear infinite;
}

/*tablet*/
@media (min-width: 600px) {
  .header-sec ul {
    width: 80%;
    padding: 2% !important;
    position: relative;
    display: flex;
  }
  .presentacion {
    width: 60%;
    height: 500px;
  }
}
/*versión escritorio*/
.logo {
  background-image: url("../archives/icon1.png");
  background-repeat: no-repeat;
  margin: auto;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 0%;
}

footer ul {
  padding: 0% !important;
}

/*tablet*/
/*versión escritorio*/

/*# sourceMappingURL=main.css.map */
