* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #FDFEF9;
    background: rgb(242, 187, 217);
    background: radial-gradient(circle, rgba(242, 187, 217, 1) 0%, rgba(208, 190, 213, 1) 25%, rgba(221, 201, 194, 1) 46%, rgba(157, 114, 123, 1) 74%, #908575 100%);
}

.oculto {
    font-size: 0%;
}
.enlace {
    font-size: 0%;
}

p {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h2,
h3 {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    font-size: 1.5em;
}

.img {
    width: 100%;
}

header {
    height: 1000px;
    background-image: url(./archives/background.jpg);
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


.navbar {
    padding: 2%;
    background-color: #bfa1c0;

}

nav a {
    color: #ffffff !important;
}

nav {
    z-index: 3;
}

.header-section {
    padding: 15% 5% 10%;
    max-width: 640px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.texto {
margin-top: 10%;
margin-left: 10%;
}
.cards-all {
    margin: 5% 1% 5% 1%;
}

.card {
    width: 70%;
    margin: 10px auto;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    height: 100%;
    filter: saturate(0.25);
    -webkit-filter: saturate(0.25);
    transition: 0.3s;
}

.card:hover {
    filter: none;
    box-shadow: 1px 10px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-title {
    text-align: center;
    color: #958CB2;
    font-weight: bold;
}

.card-text {
    overflow: hidden;
    color: #CAD3DC;
}


.card-image {
    text-align: center;
    margin: 5vh 0;
}

.card-text {
    text-align: center;
}

.title-heading {
    font-size: 3em;
    text-align: center;
    margin: 4%;
    font-weight: bold;

}

.one {
    background-image: url(./archives/mobile.jpg);
    background-size: cover;
    background-position: center;
}

.two {
    background-image: url(./archives/graphic.jpg);
    background-size: cover;
    background-position: center;
}

.three {
    background-image: url(./archives/web.jpg);
    background-size: cover;
    background-position: center;
}

.section-text {
    padding: 5%;

}

.gallery {
    padding: 12% 2% 12% 2%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery-img {
    filter: blur(1px) saturate(0.25);
    -webkit-filter: blur(1px) saturate(0.25);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-img:hover {
    filter: none;
}

.gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery-item-3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery-item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery-item-6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}

.profile {
    width: 20%;
}

.formulario {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    padding: 15%;
}

footer {
    margin: auto;
    text-align: center;
    padding: 4%;
    background-color: rgba(221, 201, 194, 1);

}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, */

    p {
        font-size: 1.4em;
    }

    h1 {
        font-size: 2.5em;
    }

    h2,
    h3 {
        font-size: 2em;
    }

    .profile {
        width: 60%;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    /* desktop, */
    p {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2em;
    }

    h2,
    h3 {
        font-size: 1.8em;
    }

    .profile {
        width: 70%;
    }


}