
.cards-all {
    margin-bottom: 2rem !important;
    margin-top: 2rem !important;
}

.card {
    width: 140px;
    height: 140px;
    background-color: $white;
    border-radius: 5%;
}


.container-experience h2,h3{
text-align: center;
}