.skills {
    width: 100%;
    padding: 5% !important;
}

.item-s p {
    padding-top: 1.5rem !important;
    padding-bottom: 1.2rem !important;
}

.item-s {
    padding: 0.1rem !important;
}

.habilidades {
    margin: auto;
    width: 84%;
}

.habilidades p {
    font-size: 1.3rem;
}

.container-mark {
    width: 80%;
    margin: auto;
}

.item-mark {
    width: 20%;
}

@media screen and (min-width:768px) {


    .habilidades p {
        text-align: right;
        font-size: 2.3rem;
    }

    .container-mark {
        width: 60%;
        margin: auto;
    }

    .skills {
        width: 100%;
        padding-left: 50% !important;
    }

}