form {
 padding: 7rem 4rem 7rem 4rem;
    width: 100%;
    color: $white;
}

.formulario {
    width: 70%;
    height: 50%;
}

.formulario input,
.formulario textarea,
.formulario button {
    width: 100%;
}