.formulario {
    background-image: linear-gradient($violeta, $blue); 
    text-align: center;
    padding: 15%;
    color: $white;
}

footer {
    background-image: url('../archives/Milk.png');
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 5%;
    color: $black;
}

