.contacto {
    background-color: $black !important;
    color: $white !important;
    font-family: CaTitle !important;
    border: $white solid 1px !important;
    border-radius: 50% !important;
}

form {
    padding: 2em;

}


.container-form {
    width: 70%;
    text-align: center;
    margin: auto !important;
    background-color: $black;
    color: $white;
}