.gallery-img {
    width: 50%;
    border-radius: 5px;
}

figure {
    padding: 3%;
}


.skills-bar {
    width: 70%;
}

.progress-bar {
    background-color: $darkviolet !important;
}

@media only screen and (min-width: 995px) {

    .gallery-img {
        width: 30%;
       }
}