header {
    background-image: url('../archives/Milk.png');
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

.header-section {
    font-weight: 300;
    color: $white;
}

.texto {
    padding-top: 30%;
    padding-left: 10%;
}