
nav {
    position: fixed;
}

.show {
    transform: translateX(0);
    transition: 1s;
}

.absolute {
    position: absolute;
    z-index: 6;
}

.sidebar {
    position: fixed;
    width: 100%;
}

.toggle {
    margin: 1rem !important;
    background-color: #665CD8;
}

.menu {
    width: 100vw;
    background-color: #F0F0F2;

}

nav a {
    color: #788C30 !important;
}

.navlogo {
    font-size: 0%;
}

.navlist {
    text-align: center;
}

ul li a:hover {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
