/*palette*/

$pink: #f8c3e0;
$pinkop: #e88dca7e;
$orange: #2e3555;
$green: #42D768;
$blue: #8592e7;
$violeta: #ccb4ee;
$violet: #72539b;

/*darkpalette*/
$black: #000000;
$white: #ededed;
$darkviolet: #18274b;
$darkgreen: #808F93;


$pinkr: #E88DCA;
$redr: #D189D6;
$grayr: #B9C5D2;

