/*palette*/

$pink: #DDD391;
$pinkop: #76405E;
$orange: #996445;
$green: #5E6B1F;
$blue: #34344C;
$violet: #7D6E81;

/*darkpalette*/
$black: #16150D;
$white: #F6F8E4;
$darkviolet: #6F3A5A;
$darker: #100D08;
$gray: #B3AD8E;
