@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300&display=swap');
/* font-family: 'Tiro Devanagari Marathi', serif;
  font-family: 'realliquid', serif;
   font-family: 'realblack', serif;
font-family: 'Montserrat', sans-serif;  */

$headings: (h1: 2.3rem,
    h2: 2rem,
    h3: 1.5rem,
    h4: 1.3rem,
    p: 1rem);

$h1: map-get($headings, h1);
$h2: map-get($headings, h2);
$h3: map-get($headings, h3);
$h4: map-get($headings, h4);
$p: map-get($headings, p);


body {
    text-transform: uppercase;
}

h1 {
    font-size: $h1;
    text-transform: lowercase;
    font-family: 'IBM Plex Mono', monospace;
}

h2 {
    font-size: $h2;
    font-family: 'Tiro Devanagari Marathi', serif;
}

h3 {
    font-size: $h3;
    font-family: 'Tiro Devanagari Marathi', serif;

}

h4 {
    font-size: $h4;
    font-weight: 100;
}

strong {
    font-weight: bold;
}

p {
    font-weight: 400;
    font-size: $p;
}

.oculto {
    font-size: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}